#root,
body,
html {
  height: 100%;
  width: 100%;
}
.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: white;
  height: 75px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  margin: 5px;
  margin-bottom: 0;
  grid-area: header;
  margin-right: 0;
  margin-top: 0;
  gap: 0.7em;
  padding: 10px;
}

.App-header-text {
  padding-top: 5px;
  font-size: medium;
}
