#root,
body,
html {
  height: 100%;
  width: 100%;
}
.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 75px 1fr;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'editor editor-picker'
}

.App-header {
  background-color: white;
  height: 75px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  margin: 5px;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  gap: 0.7em;
  padding: 10px;
}

.App-header-text {
  padding-top: 5px;
  font-size: medium;
}

.input-cursor{
  cursor: grab;
}

.handle {
  position: absolute;
  z-index: 10;
  cursor: grab;
}

.dragging{
  /* add polka dots 25x25 to background */
  background-image: radial-gradient(#3d3b3b 2px, transparent 2px), radial-gradient(#434141 2px, transparent 2px);
  background-size: 25px 25px;
}

.hidden{
  display: none;
}